.container {
  width: 1440px !important;
}
.radius-2 {
  border-radius: 8px !important;
}
th {
  text-align: center;
}

tr,
td,
th {
  border: 2px solid rgb(113, 113, 113);
  padding: 7px !important;
  height: 35px !important;
}
#userForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.text-bg-white {
  background-color: white !important;
}
label {
  text-align: start !important;
}
#userGender {
  text-align: start !important;
}
