.d-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
div label {
  width: 100px;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
body {
  background: linear-gradient(to left, rgb(100, 100, 100), white);
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 70vw;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(171, 171, 171);
}

.label {
  width: 200px;
}
.value {
  width: calc(70vw - 100px);
}
.value input:not([type="checkbox"]):not([type="radio"]),
.value textarea {
  width: calc(70vw - 200px);
}
.BasicInfo > div,
.ContactInfo > div,
.OptionalInfo > div {
  margin-top: 10px;
}

.value textarea {
  height: 100px;
  border-radius: 15px;
  padding: 10px;
}

.value input:not([type="checkbox"]):not([type="radio"]) {
  border-radius: 5px;
  padding: 5px;
  height: 24px;
}

select,
select > option {
  width: 200px;
  border-radius: 10px;
  height: 24px;
  padding: 5px;
}
